/* Mobile and  Tablet */
@media only screen and (max-width: 1024px) {
  .title {
    font-size: 3rem;
    width: 400px;
    padding: 8px 0;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
  }

  /* Header */
  .header-menu {
    margin-left: 25px;
  }

  .header-menu__item {
    padding: 20px;
  }

  /* Hero */
  .bg-rock {
    height: 82%;
    background-size: cover;
    background-position: 20% 0;
  }

  .hero__content {
    width: 100%;
    margin: 0 auto;
    margin: 100px 20px;
  }

  .hero__heading {
    font-size: 5rem;
  }

  .hero__desc {
    margin-top: 10px;
    margin-left: 0;
    width: 550px;
  }

  .hero__btn {
    left: 100px;
    width: 250px;
  }

  .hero__iron-man {
    right: -250px;
  }

  .hero__iron-man img {
    object-fit: contain;
  }

  /* Video */
  .video__container {
    width: 500px;
  }

  .video__img-left {
    left: -235px;
  }

  .video__img-right {
    right: -280px;
  }

  /* Gear */
  #gear {
    height: 350px;
  }

  .gear-showcase {
    width: 400px;
  }

  /* Gallery */
  #gallery {
    background-position: 40% 50%;
  }

  .gallery__wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .gallery__slide-item {
    width: 400px;
    height: 400px;
  }

  .gallery__list {
    margin-bottom: 20px;
  }

  .gallery__list-item {
    width: 80px;
  }

  .gallery__list-item + .gallery__list-item {
    margin-left: 10px;
  }

  /* About */
  .about__image {
    width: 300px;
    left: -65px;
  }

  .about__text {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .about__first {
    left: 128px;
    top: 133px;
  }

  .about__first .spacer {
    width: 500px;
  }

  .about__first .about__text {
    right: 139px;
    min-width: 500px;
  }

  .about__second {
    left: 142px;
    top: 10px;
  }

  .about__second .spacer {
    width: 300px;
  }

  .about__second .about__text {
    left: 125px;
    max-width: 300px;
    top: 0;
  }

  .about__third {
    top: -97px;
    left: 134px;
  }

  .about__third .about__text {
    left: 125px;
    top: 0;
  }

  .about__logo {
    bottom: 16px;
  }

  /* Preorder */
  .preorder__body {
    min-width: 600px;
    width: 100%;
    padding: 0 20px;
  }

  .preorder__details {
    margin-right: 40px;
  }

  .preorder__count {
    width: 100%;
    flex: unset;
  }

  .preorder__count__number {
    font-size: 3rem;
  }

  .preorder__price {
    padding: 0 25px;
    height: 50px;
  }

  .preorder__price-old {
    font-size: 1.5rem;
    top: -12px;
  }

  .preorder__price-new {
    font-weight: 400;
  }

  .preorder__form {
    margin-left: 0;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .hide-on-mobile {
    display: none;
  }

  /* Header */
  .header-top {
    flex-direction: column;
  }

  .header-menu {
    margin-left: 0;
    width: 100%;
  }

  .header-menu__item {
    width: 100%;
    padding: 20px 0;
  }

  .header-menu__link {
    font-size: 1.8rem;
  }

  /* Hero */
  .hero__heading {
    letter-spacing: -1px;
  }

  .bg-rock {
    height: 445px;
    padding-top: 0;
    background-size: cover;
    background-position: 50%;
    position: static;
  }

  .hero__content {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 10px;
  }

  .hero__title {
    letter-spacing: -1px;
  }

  .hero__desc {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .hero__iron-man {
    top: 258px;
    right: -22px;
    transform: translateY(-50%);
    height: 425px;
    width: 278px;
  }

  .hero__btn {
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
  }

  /* Video */
  .video__container {
    padding: 380px 10px 16px;
    width: 100%;
  }

  .video__img-left {
    width: 140px;
    left: 10px;
  }

  .video__img-right {
    height: auto;
    right: 0;
    width: 300px;
  }

  /* Gear */
  #gear {
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .gear-title {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .gear-showcase {
    width: 100%;
    margin: 0;
  }

  /* Gallery */
  #gallery {
    background-position: 48% 50%;
  }

  .gallery__container {
    padding: 0 10px;
  }

  .gallery__wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .gallery__title {
    margin-top: 20px;
  }

  .gallery__logo-mobile {
    display: flex;
    margin-top: 12px;
  }

  .gallery__slide-item {
    width: 300px;
    height: 300px;
  }

  .gallery__list {
    margin-bottom: 20px;
  }

  .gallery__list-item {
    width: 80px;
  }

  .gallery__list-item + .gallery__list-item {
    margin-left: 10px;
  }

  .gallery__logo {
    top: 90px;
    bottom: unset;
    right: unset;
    transform: unset;
  }

  /* About */
  .about__container {
    padding: 0 10px;
  }

  .about__title {
    width: 400px;
  }

  .about__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__image {
    width: 300px;
    height: auto;
  }

  .about__image,
  .about__desc,
  .about__first,
  .about__second,
  .about__third,
  .about__text,
  .spacer,
  .about__first .about__text,
  .about__second .about__text,
  .about__third .about__text,
  .about__iron {
    position: static;
  }

  .about__first,
  .about__second,
  .about__third {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .about__first .spacer,
  .about__second .spacer,
  .about__third .spacer {
    width: 100%;
  }

  .about__first .about__text,
  .about__second .about__text,
  .about__third .about__text {
    max-width: unset;
    margin-top: 5px;
  }

  .about__iron {
    display: none;
  }

  .about__logo {
    position: static;
    margin: 0 auto 20px;
  }

  /* Preorder */
  .preorder__container {
    padding: 0 10px;
  }

  .preorder__body {
    flex-direction: column;
    width: 100%;
  }

  .preorder__count {
    flex: unset;
    width: 55%;
    margin-left: 0;
  }

  .preorder__price {
    width: 150px;
  }

  .preorder__other {
    padding: 0;
  }

  .preorder__details {
    width: 100%;
  }

  .preorder__detail-img {
    width: 80%;
  }

  .preorder__label,
  .preorder__label i {
    font-size: 1.6rem;
  }

  .preorder__label {
    padding-left: 8px;
  }

  .preorder__form {
    width: 100%;
    margin: 80px auto 0;
    padding: 25px 20px;
  }

  .preorder__form-input {
    font-size: 1.2rem;
  }

  .preorder__form-text {
    font-size: 1.3rem;
  }

  .preorder__form-btn button {
    font-size: 1.2rem;
    border: 3px solid;
    padding: 7px 25px;
  }

  .preorder__form-notice {
    font-size: 1.1rem;
  }
}

/* < Mobile */
@media only screen and (max-width: 320px) {
  .title {
    font-size: 2rem;
    width: 100%;
    padding: 5px 0;
  }

  /* Header */
  .header-logo {
    width: 186 px;
  }

  .header-menu__item {
    padding: 12px 0;
  }

  .header-menu__link {
    font-size: 1.6rem;
  }

  /* Hero */
  .bg-rock {
    height: 335px;
    background-position: 50%;
  }

  .hero__heading {
    font-size: 6.5rem;
    line-height: 1.15;
  }

  .hero__iron-man {
    height: 326px;
    width: 200px;
    top: 200px;
    right: -5px;
  }

  /* Video */
  .video__container {
    padding: 250px 10px 16px;
  }

  .video__img-left {
    width: 100px;
  }

  .video__img-right {
    width: 200px;
  }

  /* Gear */
  #gear {
    height: 250px;
  }

  .gear-title {
    margin-bottom: 10px;
  }

  .gear-showcase {
    width: 300px;
  }

  /* Gallery */
  #gallery {
    background-position: 50% 50%;
    min-height: 400px;
  }

  .gallery__container {
    padding: 0 10px;
  }

  .gallery__wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .gallery__title {
    margin-top: 12px;
  }

  .gallery__logo-mobile {
    width: 157px;
    height: 100%;
    margin-top: 6px;
  }

  .gallery__slide-item {
    width: 200px;
    height: 200px;
  }

  .btn-arrow {
    font-size: 3rem;
  }

  .gallery__list {
    margin-bottom: 10px;
  }

  .gallery__list-item {
    width: 60px;
  }

  .gallery__list-item + .gallery__list-item {
    margin-left: 5px;
  }

  .gallery__logo {
    top: 60px;
  }

  /* About */
  .about__title {
    width: 100%;
    font-size: 2rem;
    margin: 16px 0 0;
  }

  /* Preorder */
  .preorder__count {
    margin-left: 0;
  }

  .preorder__count__number {
    font-size: 2.5rem;
  }

  .preorder__price {
    width: 110px;
    height: 40px;
    margin-right: 0;
  }

  .preorder__price-old {
    font-size: 1.2rem;
    top: -10px;
  }

  .preorder__price-new {
    font-size: 1.8rem;
  }

  .preorder__other {
    padding: 0;
  }

  .preorder__form-group + .preorder__form-group {
    margin-top: 12px;
  }

  .preorder__form-input {
    height: 28px;
  }

  .preorder__form-text {
    height: 50px;
  }
}
