.wrapper {
  width: 100%;
  background-color: var(--black);
  margin: 0 auto;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* Main */
.title {
  width: 664px;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--primary);
  border-style: solid;
}

.btn-arrow {
  display: inline-block;
  flex: 1;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.btn-arrow:hover {
  color: var(--white);
}

/* Header */
#header {
  width: 100%;
  height: 100%;
}

.header-top {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding-top: 13px;
}

.header-logo {
  display: flex;
  width: 207px;
  height: 48px;
}

.header-logo img {
  width: 100%;
  height: 100%;
  outline: none;
  object-fit: cover;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.header-menu__item {
  padding: 20px 30px;
}

.header-menu__link {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  transition: var(--transition);
}

/* Hero */
.hero__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.bg-rock {
  position: absolute;
  height: 550px;
  width: 100%;
  top: 0;
  left: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100px 16px;
}

.hero__content {
  color: var(--white);
  margin-top: 150px;
  margin-left: 80px;
  margin-bottom: 150px;
  position: relative;
}

.hero__heading {
  width: 100%;
  font-size: 9rem;
  line-height: 1;
}

.hero__desc {
  width: 805px;
  font-size: 2rem;
  text-align: justify;
  line-height: 1.5;
  margin-left: 38px;
}

.hero__desc-name {
  font-weight: bold;
}

.hero__btn {
  display: inline-block;
  position: relative;
  left: 250px;
  width: 300px;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 25px;
  border: 3px solid var(--gray);
  padding: 16px 25px;
  margin-top: 25px;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 25px;
  }
}

.hero__iron-man {
  position: absolute;
  top: -70px;
  right: -57px;
  bottom: 0;
  width: 448px;
}

.hero__iron-man img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section Video */
#video {
  position: relative;
  width: 100%;
  background-color: var(--primary);
  margin: 0 auto;
}

.video__container {
  width: 670px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 16px;
}

.video__text {
  color: var(--white);
  text-align: justify;
  margin-bottom: 16px;
}

.video__img-left {
  position: absolute;
  top: 20px;
  left: -30px;
  width: 400px;
  z-index: 1;
}

.video__img-left img,
.video__img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__img-right {
  position: absolute;
  top: 0;
  right: -70px;
  width: 400px;
  height: 100%;
}

/* Accessory */
#gear {
  height: 610px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gear-title {
  border-color: var(--black);
  margin-left: -10px;
}

.gear-showcase {
  width: 660px;
  margin-left: 30px;
}

.gear-showcase img {
  width: 100%;
  object-fit: contain;
  border-style: solid;
}

/* Section Gallery */
#gallery {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 0;
}

.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.gallery__title {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 40px;
}

.gallery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery__slides {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__slide-item {
  width: 375px;
  display: none;
}

.gallery__slide-item.active {
  display: block;
}

.gallery__slide-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  z-index: 1;
}

.gallery__list-item {
  width: 100px;
}

.gallery__list-item + .gallery__list-item {
  margin-left: 15px;
}

.gallery__list-item img {
  width: 100%;
  object-fit: contain;
}

.gallery__logo {
  position: absolute;
  bottom: 12px;
  width: 254px;
  height: 63px;
  right: -200px;
  transform: translateX(-50%);
  background-color: var(--white);
  display: flex;
}

.gallery__logo-mobile {
  width: 254px;
  height: 63px;
  display: none;
  background-color: var(--white);
}

.gallery__logo img,
.gallery__logo-mobile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* About */
#about {
  background-color: var(--primary);
}

.about__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__title {
  width: 430px;
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  border: 4px solid var(--white);
  margin-top: 40px;
}

.about__intro {
  width: 100%;
}

.about__image {
  position: relative;
  top: -5px;
  left: -45px;
  width: 430px;
  height: 630px;
}

.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__desc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer {
  height: 3px;
  background-color: var(--white);
}

.about__text {
  max-width: 400px;
  color: var(--white);
  text-align: justify;
  z-index: 1;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.about__first {
  position: relative;
  top: 110px;
  left: 223px;
}

.about__first .spacer {
  width: 1000px;
}

.about__first .about__text {
  position: absolute;
  top: 2px;
  right: 244px;
}

.about__second {
  position: relative;
  top: 5px;
  left: 222px;
}

.about__second .spacer {
  width: 505px;
}

.about__second .about__text {
  position: relative;
  top: -70px;
  left: 200px;
  max-width: 437px;
}

.about__third {
  position: relative;
  top: -90px;
  left: 223px;
}

.about__third .spacer {
  width: 400px;
}

.about__third .about__text {
  position: relative;
  top: -116px;
  left: 150px;
  max-width: 740px;
}

.about__iron {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  right: -30px;
}

.about__iron img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__logo {
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  right: 5px;
  background-color: var(--gray);
}

.about__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Preorder */
#preorder {
  height: 100%;
  background-image: url("https://bepage.vn/upload/user/143/70_4041538.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.preorder__fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(82, 82, 79, 0.5);
}

.preorder__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.preorder__title {
  width: 536px;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 40px;
  border-width: 4px;
}

.preorder__body {
  width: 880px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.preorder__details {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preorder__detail-head {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.preorder__count {
  flex: 1;
  color: var(--white);
  margin-left: 12px;
  display: flex;
  justify-content: space-around;
}

.preorder__count__item {
  display: flex;
  flex-direction: column;
}

.preorder__count__number {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.preorder__count__text {
  text-align: center;
}

.preorder__price {
  color: #fff;
  position: relative;
  top: 6px;
  left: 15px;
  width: 167px;
  height: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid;
  border-radius: 3px;
}

.preorder__price-old {
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  top: -17px;
  background: #f65314;
  padding: 0 16px;
  border-radius: 3px;
  text-decoration: line-through;
}

.preorder__price-new {
  font-size: 2.5rem;
  font-weight: 500;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.preorder__detail-img {
  width: 91%;
  margin-bottom: 10px;
}

.preorder__detail-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.preorder__other {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  cursor: default;
}

.preorder__label {
  font-size: 1.8rem;
  font-weight: 400;
}

.preorder__label + .preorder__label {
  margin-top: 20px;
}

.preorder__label i {
  font-size: 2.2rem;
  color: var(--gray);
}

/* Form */
.preorder__form {
  width: 425px;
  height: 100%;
  background: linear-gradient(180deg, #920606 30%, var(--secondary) 100%);
  color: var(--white);
  border: 4px solid;
  background-color: var(--black);
  box-shadow: -4px -4px 0 var(--white);
  margin-left: 60px;
  padding: 32px 30px;
}

.preorder__form-group {
  width: 100%;
  display: flex;
}

.preorder__form-group + .preorder__form-group {
  margin-top: 16px;
}

.preorder__form-input {
  width: 100%;
  height: 38px;
  border: none;
  padding: 0 12px;
  outline: none;
  font-size: 1.5rem;
}

.preorder__form-text {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  font-size: 1.7rem;
  padding: 12px;
  resize: none;
}

.preorder__count__expired {
  font-size: 4rem;
  letter-spacing: 2px;
}

.preorder__form-btn {
  width: 100%;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
  padding: 9px 29px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  background: var(--primary);
  border: 4px solid;
  text-transform: uppercase;
  cursor: pointer;
}

.preorder__form-notice {
  width: 100%;
  font-size: 1.3rem;
  margin-top: 10px;
  text-align: center;
}
